<<<<<<< HEAD
#fh5co-header .navbar-default {
  border: transparent;
  background: #fff;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
=======
body {
  font-family: "PT Sans", Arial, serif;
  font-weight: 300;
  font-size: 20px;
<<<<<<< HEAD
=======
  line-height: 1.5;
  color: #666666;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
>>>>>>> 0c5190cb841e56972e79db49e2ba4476c4d01750
>>>>>>> ee4cde8b8a5e2c31f155d02b8e78a9058141f15c
}
