#fh5co-header .navbar-default {
  border: transparent;
  background: #fff;
  margin: 0;
  padding-left: 50px;
  padding-right: 50px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
